# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/
dist/
dist-ssr/
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment files
.env
.env.* !.env.example

# Build files
build/
coverage/

# Temporary files
*.tmp
*.temp
.cache/

# Ignore Terraform state and backup files
*.tfstate*
*.tfvars
*.tfvars.json
*.plan
*.backup
*.lock.hcl

# Ignore Terraform provider files and cache
.terraform/

# Ignore SSH keys and sensitive files
*.key
*.pem
*.p12
config.json
secrets.txt

# Ignore Terraform provider files and binaries
.terraform/
terraform/terraform_backend/.terraform/providers/registry.terraform.io/hashicorp/aws/5.86.0/linux_amd64/terraform-provider-aws_v5.86.0_x5

# Additional large files (if any)
terraform_backend/terraform.tfstate*
terraform_backend/terraform.tfstate.backup
terraform_resources/terraform.tfstate*
terraform_resources/terraform.tfstate.backup

# Ignore Logs
logs/
*.log
*.tmp
*.temp

# Ignore Node.js and build files
node_modules/
dist/
build/
coverage/

# Ignore IDE/editor-specific files
.idea/
.vscode/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore temporary files
.cache/


# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.lock.hcl
*.plan

# SSH keys
*.key
*.pem
github-action-key

# Environment/secrets
.env
secrets.txt